.App {
  text-align: center;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myContainer {
  width: 90%;
  margin: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 40%;
  margin: 20px auto;
}

@media only screen and (max-width: 1150px) {
  .column {
    width: 100%;
    margin: 20px auto;
  }
}

.content-box {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .title-text {
    font-size: 3vw;
  }
}

.yellow-text {
  color: rgb(254, 198, 3);
  margin-left: 20px;
}

.toolBar {
  background-color: rgb(1, 45, 94);
  height: 100px;
}

.umsjtu-logo {
  height: 80px;
  margin-right: 40px;
}

.hero {
  padding-top: 150px;
  margin-bottom: 50px;
}

.footer-container {
  background-color: rgb(1, 45, 94);
}

.footer-logo {
  margin: auto;
  height: 130px;
}

.footer {
  color: white;
}

.my-nav {
  margin-left: auto;
}

.slide {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}

h1 {
  color: rgb(9, 38, 78);
}

.notes-title {
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.frame-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding-top: 56.25%;
}

.responsive-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 1100px;
  max-height: 650px;
  margin: 0 auto;
  height: 100%;
}
