@font-face {
  font-family: sourceSansPro;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: alegreya;
  src: url("../fonts/AlegreyaSans-Regular.ttf");
}
@font-face {
  font-family: varela;
  src: url("../fonts/Varela-Regular.ttf");
}
@font-face {
  font-family: IBMPlex;
  src: url("../fonts/IBMPlexSerif-Regular.ttf");
}
@font-face {
  font-family: vollkorn;
  src: url("../fonts/Vollkorn-Regular.ttf");
}

video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: alegreya;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-image: url("../img/leather_1.png");
}
